<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!--<table>-->
<!--    <thead>-->
<!--    <tr>-->
<!--        <td>First Name</td>-->
<!--        <td>Last Name</td>-->
<!--        <td>Gender</td>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--    <tr>-->
<!--        <td th:text="${mentor1.firstName}">Mike</td>-->
<!--        <td th:text="${mentor1.lastName}"></td>-->
<!--        <td th:text="${mentor1.gender}"></td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--        <td th:text="${mentor2.firstName}">Mike</td>-->
<!--        <td th:text="${mentor2.lastName}"></td>-->
<!--        <td th:text="${mentor2.gender}"></td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--        <td th:text="${mentor3.firstName}">Mike</td>-->
<!--        <td th:text="${mentor3.lastName}"></td>-->
<!--        <td th:text="${mentor3.gender}"></td>-->
<!--    </tr>-->
<!--    </tbody>-->
<!--</table>-->

<h1 th:text="${name}">Welcome to Home Page!!!</h1>
<h1 th:text="${course}">Welcome to Home Page!!!</h1>
<h1 th:text="${subject}">Welcome to Home Page!!!</h1>
<h1 th:text="${id}">Welcome to Home Page!!!</h1>
<h1 th:text="${numbers}">Welcome to Home Page!!!</h1>
<h1 th:text="${student.firstName}">Welcome to Home Page!!!</h1>


</body>
</html>